<div>
  <form [formGroup]="algorithmForm">
    <div id="firstArrayDiv">
      <div id="firstArrayConfigurationDiv">
        <select *ngIf="this.utilData.algorithms" id="algorithmType1" formControlName="algorithmType1">
          <option value="" disabled selected>Select algorithm</option>
          <option value="{{element}}" *ngFor="let element of this.utilData.algorithms">
            {{element}}
          </option>
        </select>
        <button color="primary" (click)="generateArray()">Generate array</button>
        <input id="arrayLength" type="text" formControlName="arrayLength" placeholder="insert size from 10 to 50">
        <ng-container *ngIf="this.utilData.array">
          ARRAY: {{this.utilData.array}}
        </ng-container>
      </div>
      <div id="firstArrayExecutionDiv">
        <button
          *ngIf="!utilData.isFirstArrayCompleted && algorithmForm.controls['algorithmType1'].value && this.utilData.array"
          id="submitArray1" class="button" type="submit"
          (click)="onSubmit('prepareArray1')">Prepare execution
        </button>
        <canvas #array1Graph [style.display]="array1GraphIsVisible ? 'block' : 'none'" [width]="arrayGraphWidth"
                [height]="arrayGraphHeight"
                style="border: 1px solid black;"></canvas>
      </div>
    </div>
    <div id="secondArrayActivationDiv">
      <button *ngIf="utilData.isFirstArrayCompleted && !utilData.isSecondArrayActive && !utilData.isRunning"
              id="addSecondAlgorithm" class="button" (click)="activateSecondArraySlot()">Add
        second algorithm
      </button>
    </div>
    <div id="secondArrayDiv">
      <select *ngIf="utilData.isSecondArrayActive && this.utilData.algorithms" id="algorithmType2"
              formControlName="algorithmType2">
        <option value="" disabled selected>Select algorithm</option>
        <option value="{{element}}" *ngFor="let element of this.utilData.algorithms">
          {{element}}
        </option>
      </select>
      <button
        *ngIf="utilData.isSecondArrayActive && !utilData.isSecondArrayCompleted && algorithmForm.controls['algorithmType2'].value && this.utilData.array"
        id="submitArray2"
        style="margin-left:5px"
        class="button" type="submit"
        (click)="onSubmit('prepareArray2')">Prepare execution
      </button>
      <button
        *ngIf="(utilData.isFirstArrayCompleted && !utilData.isSecondArrayActive && !utilData.isRunning) || (utilData.isFirstArrayCompleted && utilData.isSecondArrayCompleted && !utilData.isRunning)"
        id="submitRun" class="button" type="submit" (click)="onSubmit('run')">Run
      </button>
      <button id="resetButton" color="primary" (click)="resetAction()">Reset</button>
      <div id="secondArrayExecutionDiv">
        <canvas #array2Graph [style.display]="array2GraphIsVisible ? 'block' : 'none'" [width]="arrayGraphWidth"
                [height]="arrayGraphHeight"
                style="border: 1px solid black;"></canvas>
      </div>
    </div>
  </form>
</div>
